<div id="trash<%= id %>" class="trash hidden">
  <div class="content">
    <div class="target chicken">Chicken</div>
    <div class="target piggy">Piggy</div>
  </div>
  <div class="front"></div>
</div>
